.services {
    background: #f9f9f9;
    margin-top: 50px;
  }
  
  .services .card {
    box-shadow: 0px 5px 5px -6px black;
    border: none;
    cursor: pointer;
  }
  
  .htl-icon{
    font-size: 80px;
    text-align: center;
    color: #0582ca;
    margin-top: 20px;
  }
  
  .card-body>h3{
    text-align: center;
    font-weight: 600;
  }
  .services .card .card-body{
    text-align: center;
  }