.gallery{
    margin-top: 50px;
  }
  .gallery .card{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
  }
  .gallery .card img{
    border-radius: 10px;
    transition: 0.5s;
  }
  .gallery .card img:hover{
    transform: scale(1.1);
  }